body,div,ul,li,a,span,p,img{
	padding: 0;
	margin: 0;
}

body,html{
	width: 100%;
	height: 100%;
}

a{
	color: #33475f;
	text-decoration: none;
}

.clear{
	clear: both;
}

#canvas{
    width: 100%;
    height: 75%;
}

.move-mid a{
	width: 65px;
	float: left;
}

.fixed-l,.fixed-r{
	float: left;
	width: 15%;
	height: 100%;
}

.fixed-l a,.fixed-r a,.move-mid a{
	font-size: 12px;
    font-weight: 600;
	display: block;
	height: 100%;
	line-height: 100%;
    text-align: center;
}

.move-mid{
	overflow: hidden;/*超出视图的标签暂时把它隐藏了~*/
	height: 100%;
	width: 70%;
	float: left;
}

.selectionBar,.toolBar{
	width: 100%;
    background: #A6A6CC;
}

.selectionBar{
	height: 9%;
}

.toolBar{
	height: 16%;
}

#color,#theme{
    height: 100%; 
}

#color a{
	display: block;
	width: 14%;
	float: left;
}

#color img{
	padding-left: 35%;
}

.hide{
	display: none;
}

.show{
	display: block;
}